header {
    background-color: rgb(36, 36, 36);
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 105px 1fr 75px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
    color:black;
    padding: 10px;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
    color:black;
    padding: 10px;
    text-align: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

img {
    width: 500px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/*I found this code on stackoverflow */

.sarah:hover {
    animation: rainbow .5s linear 0s infinite;
}

@keyframes rainbow {
    from {
        color: #6666ff;
      }
      10% {
        color: #0099ff;
      }
      50% {
        color: #00ff00;
      }
      75% {
        color: #ff3399;
      }
      100% {
        color: #6666ff;
      }
}
